
**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt

logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
node_modules
dist
.DS_Store
.vscode
.env
.env.local
.env.*.local
!.env.example
yarn-error.log
yarn-debug.log*
yarn-debug.log*
.pnp.*
.pnp.json
.idea
*.iml
out
*.tsbuildinfo
.solidarity
.solidarity/contracts
.solidarity/addresses
.solidarity/abis
.env*

Testnet.toml